/*=====================================================================

HERO

=====================================================================*/


.hero {
  background-color: lighten($secondary-color, 50%);
  background-color: $main-blue;
  padding: 60px 0px;
  // background-image: url(../img/newgrowth1.jpg); // center; 
  // background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  box-shadow: inset 0px 54px 46px -60px rgba($secondary-color, 0.2);
  z-index: 1; 
  height: 100%;
  // text-align: center;

  @media (min-width: 939px) {
    padding: 80px 0px;    
    }

}


// .hero-content {
//   // background-color: $text-bg-light;
//   border-radius: 5px;
//   padding: 0;
//   // min-height: 400px;
//   width: 100%;
//   // max-width: 1650px;
//   // margin: auto;
//   text-align: center; 
//   font-style: normal;
//   font-weight: 100;
// }

.hero-content h1 {
  font-family: "acumin-pro",sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 2.4em;
  color: #f2f2f2;  
  width: 100%;
  max-width: 1650px;  
  margin: auto;
  text-align: center;
  @media (max-width: 800px) {
    width: 90%;
  }
}




